@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");

body {
    font-family: "Antonio", sans-serif;
    margin: 0; /* Removes the default margin */
    padding: 0; /* Adds padding around the content */
    line-height: 1.6; /* Adjusts the line height for better readability */
    background-color: #ffffff;
}

form{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}

form:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

#loginForm{
    margin-top:25%;
}

#loginTitle{
    display: grid;
    place-items: center;
    font-size: 50px;
    padding-bottom: 20px;
    margin-top: -5px;
}

.image-container {
    height: 100vh;
    width: 114.9vh;
    background-image: url("om.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
}

.image-container2 {
    height: 100vh;
    width: 114.9vh;
    background-image: url("neyney.jpg");
    background-size: cover;
    background-position: left;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
}

.image-container3 {
    height: 100vh;
    width: 114.9vh;
    background-image: url("rashford.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
}

.vertical-line-banner {
    height: 100%;
    width: 9.5px;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 960px;
}

#title{
    position: absolute;
    top: 20%; /* Centre verticalement */
    left: 1100px; /* Centre horizontalement */

    text-align: left; /* Centrer le texte horizontalement */
    color: rgb(0, 0, 0);
}

#title2{
    position: absolute;
    top: 6%; /* Centre verticalement */
    left: 1500px; /* Centre horizontalement */

    text-align: left; /* Centrer le texte horizontalement */
    color: rgb(0, 0, 0);
}

#title3{
    position: absolute;
    top: 4%; /* Centre verticalement */
    left: 1100px; /* Centre horizontalement */

    text-align: left; /* Centrer le texte horizontalement */
    color: rgb(0, 0, 0);
}

#title,h1,#title2,#title3{
    font-size: 140px; /* Taille de police */
    line-height: 1.2; /* Hauteur de ligne */
    margin: 0; /* Supprimer les marges par défaut */
}

.white-button {
    width: 120px; /* Increased width */
    height: 45px; /* Decreased height */
    border: 3px solid #0091ff; /* Ensure border is visible and the same for both */
    color: #000; /* Text color - adjust as needed */
    font-size: 16px; /* Example font size */
    font-weight: 700; /* Change the font weight */
    text-align: center; /* Center the text inside the button */
    line-height: 34px; /* Adjusted line height for text centering */
    cursor: pointer; /* Change cursor to pointer on hover */
    outline: none; /* Remove outline to improve aesthetics */
    margin: 5px; /* Optional: adds a little space between buttons if inline or wrapped */
    display: inline-block; /* Ensure buttons are displayed inline and respect width/height */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.white-button {
    background-color: #fff; /* White background for the second button */
    color: #000; /* Text color for the second button */
}

.white-button:hover {
    background-color: #0091ff; /* Inverse background color */
    color: #fff; /* Inverse text color */
}

#alert{
    font-size: 30px;
}
#logo{
    width: 40px;
    height: 40px;
}

#logoDiv{
    width: 950px;
}

.d-none {
    height: 50px;
    position: relative;
}