{% include "header.html" %}

<style>
    .card {
        flex: 1;
        margin-right: 15px;
        margin-bottom: 45px;
        margin-top: 59px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        border-radius: 0;
    }

    .card:hover{
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
    }
</style>

<div class="container">
    <div class="card-container">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-4" style="display: grid; place-items: center;">
                    <img src="{{ player['picture'] }}" class="img-fluid" id="pic">
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="font-size: 35px; padding: 0;"><strong style="font-size: 40px;">{{player['lastname']}}</strong> {{player['firstname']}}</li>
                            <li class="list-group-item" style="font-size: 20px;padding: 7px;">Age : {{player['age']}}</li>
                            <li class="list-group-item" style="font-size: 20px;padding: 7px;">Phone Number : {{player['phone']}}</li>
                            <li class="list-group-item" style="font-size: 20px;padding: 7px;">Email : {{player['email']}}</li>
                            <li class="list-group-item" style="font-size: 20px;padding: 7px;">Username : {{player['username']}}</li>
                            <li class="list-group-item" style="font-size: 20px;padding: 7px;">Playing Position : {{player['description']}}</li>
                            <a href="/update_account/{{session['id']}}" class="btn btn-primary" style="padding: 4px;">Update</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}

